
	<div class="jumbotron">
		<button class="btn btn-primary pull-right" ng-click="add()">
			<i class="fa fa-plus"></i> Add book
		</button>
		<h1>My Bookshelf</h1>
	</div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-3 well">
				<h3>Books</h3>
				<ul class="nav nav-pills nav-stacked">
					<li ng-class="{active: b.title == selected.title}" ng-repeat="b in books">
						<a href="" ng-click="get(b)">{{b.title}}</a>
					</li>
				</ul>
			</div>
			<div class="col-sm-6" ng-show="selected">
				<h2>{{selected.title}}</h2>
				<dl class="dl-horizontal">
					<dt>Author:</dt>
					<dd>{{selected.author}}</dd>
				</dl>
			</div>
			<div class="col-sm-3" ng-show="selected">
				<button class="btn btn-primary form-control" ng-click="update(selected)">
					<i class="fa fa-pencil"></i> Update this book
				</button>
				<button class="btn btn-danger form-control" ng-click="remove(selected)">
					<i class="fa fa-trash-o"></i> Remove this book
				</button>
			</div>
		</div>
	</div>
<!-- <script src="http://code.angularjs.org/1.2.10/angular-resource.min.js"></script> -->
